<section id="blow-your-mind">
	<header>
		<h2>{{ pages.blow-your-mind.title }}</h2>
	</header>

	{{ pages.blow-your-mind.content }}

</section>



{% comment %}<div class="container">
		<div class="about">
			<p>MINDJOB is a competitive party game that uses conflicting visual and verbal cues to interfere with your brain's neural connections.</p>

			<p>Conquer your subconscious and resist the primal urge to swear, while relishing in the mistakes of your friends.</p>

			<p>Spiked with a gratuitous dose of profanity, it’s a tasty blend of speed, reflexes and mental humiliation.</p>

			<p>Best served at your next house party or pregame session.</p>
          
          	<p> Now available in Canada on Amazon.ca</p>
		</div>

		<div class="video">
			<img src="{{ 'vid_poster.png' | asset_url }}">
		</div>
	</div>
	<div class="buy-learn">
		<a href="{{settings.buy_btn_url}}" class="btn buy-btn">Buy Now</a>
		<a href class="btn learn-btn">Learn More</a>
	</div>

	{% include 'buy-learn' %}
	
	{% endcomment %}