<section id="own-it">
	<header>
		<h2>Don't get owned. Own it.</h2>
	</header>
	
	<div class="row">
		<div class="deck">
			{{ 'mindjob-own-it.jpg' | asset_url | img_tag }}
		    </div>
		<div class="bullets">
			<ul>
              <p></p>
              <li></li>
              <li></li>
              	<li>-Unleash profanity on your friends</li>
				<li>-Conquer the psychology of swearing</li>
				<li>-Punish the mistakes of others</li>
				<li>-Raise the stakes with optional drinking rules</li>
				<li>-Ages 18+ | 85 Cards | 2-8 Players</li>
			</ul>

			<div class="buy-learn">
				<span class="btn price">USD $19.95</span> <a href="{{settings.buy_btn_url}}" class="btn buy-btn">BUY NOW</a>
			</div>
			{% include 'share-buttons' %}
		</div>
	</div>
</section>