<section id="product-lab-preview" class="dark">
	<header>
		<h2>Product Lab Preview</h2>
	</header>
	
	<div class="buy-learn">
		<ul>
			<li><h5>Foreign Languages</h5></li>
			<li><h5>Suggest A Card</h5></li>
			<li><h5>Expansion Packs</h5></li>
			<li><h5>Merch & Swag</h5></li>
		</ul>
		<p>Want to see MINDJOB in your native language? Have a card suggestion?</p>
		<a href="../pages/productlab" class="btn">See What's Brewing</a>
	</div>
</section>