<div class="share-buttons">

	<a href="{{settings.facebook_url}}" target="_blank"><img class="social-icon" src="{{ 'social-fb-like.png' | asset_url }}"></a>


	<script
	    type="text/javascript"
	    async defer
	    src="//assets.pinterest.com/js/pinit.js"
	></script>
	<div class="social-icon-pinterest">
<a href="https://www.pinterest.com/pin/create/button/">
			<img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
		</a>
	</div>

</div><!--end share-buttons-->