<section id="tons-of-variation">
	<header>
		<h2>Tons of Variation</h2>
		<h3>Pick your poison from over a dozen optional rules</h3>
	</header>
	
	<div class="row">
		<div>
			<div class="holder">
				<div class="icon">
					{% include 'svg-definitions' with 'crossing-swords' %}
				</div>
				<h5>Crossing Swords</h5>
			</div>	
		</div>

		<div>
			<div class="holder">
				<div class="icon">
					{% include 'svg-definitions' with 'make-it-rain' %}
				</div>
				<h5>Make It Rain</h5>
			</div>	
		</div>

		<div>
			<div class="holder">
				<div class="icon">
					{% include 'svg-definitions' with 'youre-my-bitch' %}
				</div>
				<h5>You're My Bitch</h5>
			</div>	
		</div>
	</div>
	
	<div class="row">
		<div>
			<div class="holder">
				<div class="icon">
					{% include 'svg-definitions' with 'spit-it-out' %}
				</div>
				<h5>Spit It Out</h5>
			</div>	
		</div>

		<div>
			<div class="holder">
				<div class="icon">
					{% include 'svg-definitions' with 'choking-on-cock' %}
				</div>
				<h5>Choking On Cock</h5>
			</div>	
		</div>

		<div>
			<div class="holder">
				<div class="icon">
					{% include 'svg-definitions' with 'involuntary-stupidity' %}
				</div>
				<h5>Involuntary Stupidity</h5>
			</div>	
		</div>
	</div>

	
	{% comment %}
	<div class="row go-deep">
		<div>
			<a href="../pages/optionalrules" class="btn">More Stuff</a>
		</div>
		
		<div>
			<ul>
				<li>NSFW Rules</li>
				<li>Drinking Rules</li>
				<li>Submit A Rule</li>
				<li>Top Submissions</li>
			</ul>
		</div>
	</div>
	{% endcomment %}
	



</section>